<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="login-container">
    <h1 th:text="'Hello, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'">Hello!</h1>
    <p class="profile-table">
        Role -
        <span th:if="${#authorization.expression('hasRole(''BUYER'')')}" th:text="'Buyer'">Buyer</span>
        <span th:if="${#authorization.expression('hasRole(''AGENT'')')}" th:text="'Agent'">Agent</span>
        <span th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="'Admin'">Admin</span>
    </p>
        <p class="profile-table">Welcome to your dashboard.</p>


        <ul th:if="${#authorization.expression('hasRole(''BUYER'')')}" class="no-bullets">
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a th:href="@{/properties/list}">Browse Properties</a></li>
            <li><a  th:href="@{/buyer/favorites}">Saved Favorites</a></li>
            <li><a th:href="@{/buyer/view_message}">View Messages</a></li>
        </ul>

        <ul th:if="${#authorization.expression('hasRole(''AGENT'')')}" class="no-bullets">
            <li><a  th:href="@{/profile}">My Profile</a></li>
            <li><a th:href="@{/agent/manage_listings}">Manage Listings</a></li>
            <li><a th:href="@{/agent/new_property}">Add New Property</a></li>
            <li><a th:href="@{/agent/messages}">View Messages</a></li>
        </ul>

        <ul th:if="${#authorization.expression('hasRole(''ADMIN'')')}" class="no-bullets">
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a th:href="@{/admin/users}">Manage Users</a></li>
            <li><a th:href="@{/admin/create_agent}">Create Agent</a></li>
        </ul>

        <a class="btn-delete" th:href="@{/logout}">Log Out</a>
</div>
</body>
</html>
