<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="login-container">
    <h1 th:text="'Hello, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'">Hello!</h1>
    <p class="profile-table">
        Role -
        <span th:if="${#authorization.expression('hasRole(''BUYER'')')}" th:text="'Buyer'">Buyer</span>
        <span th:if="${#authorization.expression('hasRole(''AGENT'')')}" th:text="'Agent'">Agent</span>
        <span th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="'Admin'">Admin</span>
    </p>
    <p class="profile-table">Welcome to your dashboard.</p>
    <ul class="no-bullets">
        <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
        <li><a th:href="@{/profile}">View Profile</a></li>
        <li><a th:href="@{/settings}">Account Settings</a></li>
        <li><a th:href="@{/favorites}">Favorites</a></li>
        <li><a th:href="@{/view_message}">View Messages</a></li>

        <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
            <a th:href="@{/manage_listings}">Manage Listings</a>
            <a th:href="@{/new_property}">Add New Property</a>
            <a th:href="@{/view_message}">View Messages</a>
        </li>

        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/admin/users}">View All Users</a>
        </li>
        <li><a th:href="@{/create_agent}">Create Agent</a></li>

        <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
            <a th:href="@{/properties/list}">Browse Properties</a>
        </li>

        <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
            <a th:href="@{/favorites/favorites}">Saved Favorites</a>
        </li>

        <li><a class="section-spacing" th:href="@{/logout}">Log Out</a></li>
    </ul>
</div>
</body>
</html>
