<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="login-container">
    <h1 th:text="'Hello, ' + ${user.firstName} + ' ' + ${user.lastName} + '!'">Hello!</h1>
    <p class="profile-table">
        Role -
        <span th:if="${#authorization.expression('hasRole(''BUYER'')')}" th:text="'Buyer'">Buyer</span>
        <span th:if="${#authorization.expression('hasRole(''AGENT'')')}" th:text="'Agent'">Agent</span>
        <span th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="'Admin'">Admin</span>
    </p>
    <p class="profile-table">Welcome to your dashboard.</p>


    <div th:if="${#authorization.expression('hasRole(''BUYER'')')}">
        <a class="dashboard-section" th:href="@{/profile}">My Profile</a>
        <a class="dashboard-section" th:href="@{/buyer/properties/list}">Browse Properties</a>
        <a class="dashboard-section" th:href="@{/buyer/favorites}">Saved Favorites</a>
        <a class="dashboard-section" th:href="@{/messages}">View Messages</a>
    </div>

    <div th:if="${#authorization.expression('hasRole(''AGENT'')')}">
        <a class="dashboard-section" th:href="@{/profile}">My Profile</a>
        <a class="dashboard-section" th:href="@{/agent/manage_listings}">Manage Listings</a>
        <a class="dashboard-section" th:href="@{/agent/new_property}">Add New Property</a>
        <a class="dashboard-section" th:href="@{/messages}">View Messages</a>
    </div>

    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a class="dashboard-section" th:href="@{/profile}">My Profile</a>
        <a class="dashboard-section" th:href="@{/admin/users}">Manage Users</a>
        <a class="dashboard-section" th:href="@{/admin/create_agent}">Create Agent</a>
    </div>

    <a class="btn-cancel" th:href="@{/logout}">Log Out</a>
</div>
</body>
</html>