<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<h1>Edit Profile</h1>
<div class="login-container">
    <form method="post" th:action="@{/profile/edit}">
        <label for="firstName">First Name: </label>
        <input id="firstName" th:value="${firstName}" name="firstName" type="text"/>
        <br>
        <label for="lastName">Last Name: </label>
        <input id="lastName"  th:value="${lastName}" name="lastName" type="text"/>
        <br>
        <label for="email">Email: </label>
        <input id="email" th:value="${email}" name="email" type="text"/>
        <br>
        <button class="btn" type="submit">Save Changes</button>
        <a class="btn-cancel" th:href="@{/profile}">Cancel</a>
    </form>
</div>

</body>
</html>