<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Property</h1>
<form th:action="@{/properties/edit(id=${property.id})}" th:object="${property}" method="post">
    <label>Title: <input th:field="*{title}" th:value="${property.title}"/></label><br>
    <label>Price: <input th:field="*{price}" th:value="${property.price}"/></label><br>
    <label>Location: <input th:field="*{location}" th:value="${property.location}"/></label><br>
    <label>Description: <input th:field="*{description}" th:value="${property.description}"/></label><br>
    <label>Size: <input th:field="*{size}" th:value="${property.size}"/></label><br>
    <button type="submit">Add Property</button>
</form>
</body>
</html>