<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
    <h1>Managed Properties</h1>

    <p style="text-align: left; margin-top: 15px;">
        <a th:href="@{/dashboard}">
            <button class="btn">← Dashboard</button>
        </a>
    </p>

    <div class="login-container" th:if="${properties==null or properties.empty}">
        <p>You do not have any managed listings.</p>
        <br>
        <a class="btn" th:href="@{/agent/new_property}">Create Listing</a>
    </div>

    <div th:each="property : ${properties}">
            <div class="property-container">
                <div class="listing-header">
                    <h2><span th:text="${property.title}"></span></h2>
                    <h2 style="color:green;"><b>$</b><span th:text="${property.price}"></span></h2>
                </div>
                <div class="listing-header">
                    <h4><b>Location: </b><span th:text="${property.location}"></span></h4>
                    <h4><b>Size: </b><span th:text="${property.size}"></span><b> Sq. Ft.</b></h4>
                </div>
                <div class="listing-row">
                    <div class="cover-image">
                        <p>Add image here</p>
                    </div>
                    <div class="listing-details">
                        <p class="listing-description" th:text="${property.description}"></p>
                    </div>
                </div>
                <div class="listing-actions">
                    <a class="btn" th:href="@{/agent/edit_listing(id=${property.id})}">Manage Property</a>
                    <a class="btn-delete" th:href="@{/agent/delete_listing(id=${property.id})}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>