<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add New Property</h1>
    <form th:action="@{/proprties/add" th:object="${property}" method="post">
        <label>Title: <input th:field="*{title}"/></label><br>
        <label>Price: <input th:field="*{price}"/></label><br>
        <label>Location: <input th:field="*{location}"/></label><br>
        <label>Description: <input th:field="*{description}"/></label><br>
        <label>Size: <input th:field="*{size}"/></label><br>
        <button type="submit">Add Property</button>
    </form>
</body>
</html>