<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<h1>My Profile</h1>
<p style="text-align: left; margin-top: 15px;">
    <a th:href="@{/dashboard}">
        <button class="btn">← Dashboard</button>
    </a>
</p>

<div class="login-container">
    <table>
        <tr>
            <td><strong>First Name: </strong></td>
            <td th:text="${firstName}"></td>
        </tr>
        <tr>
            <td><strong>Last Name: </strong></td>
            <td th:text="${lastName}"></td>
        </tr>
        <tr>
            <td><strong>Email: </strong></td>
            <td th:text="${email}"></td>
        </tr>
        <tr>
            <td><strong>Role: </strong></td>
            <td th:text="${role[0]}"></td>
        </tr>
    </table>
    <br>
    <a class="btn" th:href="@{/profile/edit}">Edit Profile</a>
</div>
</body>
</html>