<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<h1>Manage Users</h1>
<p style="text-align: left; margin-top: 15px;">
    <a th:href="@{/dashboard}">
        <button class="button">← Dashboard</button>
    </a>
</p>
<div class="login-container">
    <table>
            <tr>
                <td><strong>Name: </strong></td>
                <td><strong>Email: </strong></td>
                <td><strong>Role: </strong></td>
                <td><strong>Actions: </strong></td>
            </tr>
            <tr th:each="user : ${users}">
                <td><p th:text="${user.firstName}"></p><p th:text="${user.lastName}"></p> </td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.roles[0]}"></td>
                <td><a class="btn-delete" th:href="@{/admin/users/delete(id=${user.id})}">Delete</a></td>
            </tr>
    </table>
    <br>
</div>
</body>
</html>