<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
    <p style="text-align: left; margin-top: 15px;">
        <a th:href="@{/dashboard}">
            <button class="btn">← Dashboard</button>
        </a>
    </p>
    <div class="property-container">
        Property: <h2 th:text="${message.property.title}"></h2>
        From: <h2 th:text="${message.sender.firstName}"></h2><h2 th:text="${message.sender.lastName}"></h2>
        <p th:text="${message.content}"></p>
        <p th:text="${message.timestamp}"></p>

        <form th:if="${isAgent}" th:action="@{/agent/message/reply(id=${message.id})}" method="post">
            <label>Reply: <input name="reply"/></label><br>
            <button type="submit" class="btn">Send</button>
        </form>
    </div>
</body>
</html>