<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
    <p style="text-align: left; margin-top: 15px;">
        <a th:href="@{/dashboard}">
            <button class="btn">← Dashboard</button>
        </a>
    </p>
    <div class="property-container" style="display:flex; flex-direction:column; align-items: center">
        <b>Regarding the property at: <h2 th:text="${message.property.title}"></h2></b>
        <div class="message">
            <b th:text="${message.sender.firstName}"></b>
            <b th:text="${message.sender.lastName}"></b>
            <b> : </b>
            <p th:text="${message.content}"></p>
        </div>
        <div th:if="${message.reply}" class="message">
            <b>Agent Reply: </b>
            <p th:text="${message.reply}"></p>
        </div>
        <p th:text="${message.timestamp}"></p>
        <div th:unless="${message.reply}">
            <form th:if="${isAgent}" th:action="@{/agent/message/reply(id=${message.id})}" th:object="${replyMessage}" method="post">
                <label>Reply: <input id="reply" th:field="*{reply}" type="text"/></label><br>
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
    </div>
</body>
</html>