<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
    <h2 th:text="Message from ${message.sender} regarding the property '${message.title}':"></h2>
    <p th:text="${message.sender}: ${message.content}"></p>
    <p th:text="${message.timestamp}"></p>
    <form th:action="@{/message(id=${message.id}" th:object="${message}" method="post">
        <label>Reply: <input th:field="*{reply}"/></label><br>
        <button type="submit" class="btn">Send</button>
    </form>
</body>
</html>